@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: fit-content;
}

::-webkit-scrollbar {
    width: 3px; /* width of the scrollbar */
    height: 10px; /* height of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* color of the scrollbar track */
    border-radius: 3px; /* rounded corners for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #aaa; /* color of the scrollbar thumb */
    border-radius: 3px; /* rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* color of the scrollbar thumb on hover */
  }
  
  /* Making the scrollbar visible */
  body {
    overflow-y: scroll; /* making the scrollbar visible */
  }

  ::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
    height: 3px; /* height of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #334155 ; /* color of the scrollbar track */
    border-radius: 3px; /* rounded corners for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0ea5e9 ; /* color of the scrollbar thumb */
    border-radius: 3px; /* rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #0ea5e9 ; /* color of the scrollbar thumb on hover */
  }